.main {
  flex: 1;
  padding: 1rem 0 1rem 0;
  margin-top: -50px;
}

.bgDark {
  background-color: #12002b;
}

.srOnly {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.accountAmount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.accountAmountDescription {
  margin: 0;
}

.accountContentWrapper {
  width: 100%;
  flex: 1;
}

.accountContentWrapper p {
  margin: -5px;
}

h3 {
  margin: 0px;
}

.editButton {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  width: 22rem;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2.5rem;
}

.editInputWrapper {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.editFormInputFilter {
  border-color: rgba(128, 128, 128, 0.246);
  background-color: rgba(128, 128, 128, 0.429);
}

.editInputWrapper label {
  font-weight: bold;
}

.editInputWrapper input {
  padding: 5px;
  font-size: 1.2rem;
  width: 10rem;
}

.editFormBtnWrapper {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}

.editFormBtnWrapper button {
  display: block;
  width: 8rem;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transactionBtn {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .accountContentWrapper.cta {
    flex: 0;
  }

  .transactionBtn {
    width: 200px;
  }
}

.vibrate {
  animation: vibrate 0.5s ease;
}

@keyframes vibrate {
  0% {
    transform: translate(1px, 0);
  }
  20% {
    transform: translate(-1px, 0);
  }
  40% {
    transform: translate(1px, 0);
  }
  60% {
    transform: translate(-1px, 0);
  }
  80% {
    transform: translate(1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
