.srOnly {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 15px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.mainNav button {
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
}

.mainNav button.router-link-exact-active {
  color: #42b983;
}

.mainNavItem {
  margin-right: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.mainNavItem p {
  font-size: 18px;
  padding-top: 10px;
}

.mainNavItem p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mainNavItemLoggedIn {
  margin-right: 0.5rem;
  display: flex;
  gap: 1.6rem;
}

.userLoggedInText {
  font-weight: 350;
  font-size: 18px;
  margin-right: -0.8rem;
  padding-top: 6px;
}

.userLoggedInText:hover {
  text-decoration: underline;
}

.mainNavItemLoggedIn a {
  color: #00bc77;
  cursor: pointer;

}

.mainNavItemLoggedIn p:hover {
  text-decoration: underline;
}

.mainNavLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image {
  max-width: 100%;
  width: 250px;
}

.userIcon {
  font-size: 1.8rem !important;
  color: black;
}

.loggedUserIcon {
  font-size: 2rem !important;
  color: #00bc77;
}

.faPowerOff {
  font-size: 2rem !important;
}

.gearBtn {
  font-size: 2rem !important;
}

.faVault {
  font-size: 2.2rem;
  color: #00bc77;
}